body {
  margin: 0;
  padding: 0;
  min-width: 1200px;

  font-family: "Roboto", Verdana, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #283136;
  /*text-transform: none;*/

  background-color: #ffffff;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.button {
  display: inline-block;
  padding: 16px 0;
  margin-top: 32px;
  vertical-align: top;

  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;

  background-color: #fb5559;
  border: none;
  border-radius: 3px;

  cursor: pointer;
}

.button:hover,
.button:focus {
  background-color: #e74246;
}

.button:active {
  color: rgba(255,255,255,0.3);

  background-color: #d7363a;
  -webkit-box-shadow: inset 0 3px 0 0 rgba(0, 0, 0, 0.1);
          box-shadow: inset 0 3px 0 0 rgba(0, 0, 0, 0.1);
}

.main-header {
  background-color: #eeeeee;
}

.main-navigation {
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  color: #000000;
  text-transform: uppercase;

  background-color: #eeeeee;
}

.main-header-logo[href]:hover,
.main-header-logo[href]:focus {
  opacity: 0.8;
}

.main-header-logo[href]:active {
  opacity: 0.3;
}

.site-navigation,
.user-navigation {
  list-style: none;
}

.site-navigation a,
.user-navigation a {
  color: #000000;
  text-decoration: none;
}
/*
.site-navigation a::after,
.user-navigation a::after {
  display: block;
  position: relative;
  left: 50%;
  top: 5px;
  width: 0;
  height: 2px;
  content: '';
  background-color: #fb565a;
  transition: all 0.3s ease 0s;
}*/

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
  color: #fb565a;
}

.site-navigation a:active,
.user-navigation a:active {
  color: rgba(0,0,0,0.3);
}

.site-navigation a:not([href])::after,
.user-navigation a:not([href])::after {
  display: block;
  position: relative;
  left: 0;
  top: 3px;
  width: 100%;
  height: 2px;
  content: '';
  background-color: #fb565a;
}
/*
.site-navigation a:hover::after,
.user-navigation a:hover::after {
  left: 0;
  width: 100%;
}*/

.user-navigation .basket-link {
  position: relative;
  padding-left: 40px;
}

.basket-link::before {
  content: "";

  position: absolute;
  top: 2px;
  left: 0px;

  width: 15px;
  height: 15px;

  background-image: url("../img/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.slider {
  position: relative;

  background-color: #eeeeee;
}

.slider-controls {
  position: absolute;
  left: 50%;
  bottom: 104px;
  z-index: 100;

  width: 160px;
  height: 18px;

  text-align: center;
  font-size: 0;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.slider-controls label {
  position: relative;

  display: inline-block;
  width: 18px;
  height: 18px;
  padding: 8px;
  vertical-align: top;

  border-radius: 50%;
  cursor: pointer;
}

.slider-controls label::after {
  content: "";

  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1;

  width: 18px;
  height: 18px;

  background: #ffffff;

  border-radius: 50%;
}

.slider-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.slider-item {
  display: none;

  padding: 36px 0 80px 0;

  color: #000000;
}

.slider-item:nth-child(1) {
  /*display: block;*/
}

.slider-item:nth-child(1) {
  background-image: url("../img/slider-1.png");
  background-repeat: no-repeat;
  background-position: 100% -17px;
}

.slider-item:nth-child(2) {
  background-image: url("../img/slider-2.png");
  background-repeat: no-repeat;
  background-position: 100% 0;
}

.slider-item:nth-child(3) {
  background-image: url("../img/slider-3.png");
  background-repeat: no-repeat;
  background-position: 100% 20px;
}

.slider-1:checked ~ .slider-list .slider-item:nth-child(1) {
  display: block;
}

.slider-2:checked ~ .slider-list .slider-item:nth-child(2) {
  display: block;
}

.slider-3:checked ~ .slider-list .slider-item:nth-child(3) {
  display: block;
}

.slider-1:checked ~ .slider-controls .slider-controls-item--1::before,
.slider-2:checked ~ .slider-controls .slider-controls-item--2::before,
.slider-3:checked ~ .slider-controls .slider-controls-item--3::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  width: 4px;
  height: 4px;
  margin: -4px;
  background-color: inherit;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}

.slider-item h3 {
  max-width: 600px;
  margin: 0;
  margin-top: 24px;
  margin-bottom: 27px;

  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
}

.slider-item p {
  max-width: 430px;
  margin: 0;
  margin-bottom: 38px;
}

.slider-item .button {
  width: 240px;
  margin-top: 0;
}

.advantages-list {
  list-style: none;
}

.advantage-item h3 {
  font-size: 24px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;

  margin: 18px 0 17px;
}

.advantage-item p {
  line-height: 24px;
  color: #283136;

  margin: 0 20px 0 0;
}

.advantage-item .button {
  width: 160px;
}


.advantage-item:nth-child(2) .button {
  background-color: #00c973;
}

.advantage-item:nth-child(2) .button:hover,
.advantage-item:nth-child(2) .button:focus {
  background-color: #00bc6b;
}

.advantage-item:nth-child(2) .button:active {
  background-color: #00aa61;
  -webkit-box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
          box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
}

.advantage-item:nth-child(3) .button {
  background-color: #efc749;
}

.advantage-item:nth-child(3) .button:hover,
.advantage-item:nth-child(3) .button:focus {
  background-color: #eab434;
}

.advantage-item:nth-child(3) .button:active {
  background-color: #e5a722;
  -webkit-box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
          box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
}

.studio-about-title {
  font-size: 45px;
  font-weight: 500;
  line-height: 45px;
  color: #000000;

  margin: 34px 10px 32px 0;
}

.studio-service-title {
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;

  margin: 40px 0 24px;
}

.studio-services {
  list-style: none;
  color: #283136;

  margin: 0px;
  padding: 0px;
}

.studio-service-item {
  position: relative;
  margin-bottom: 24px;
  padding-left: 35px;
}

.studio-service-item::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 25px;
  top: 10px;
  left: 1px;
  background-color: red;
}

.studio-statistics-title {
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;

  margin: 30px 0 53px;
}

.studio-statistics-list {
  list-style: none;
}

.studio-statistics-item p {
  line-height: 18px;
  margin: 0 0 33px;
}

.studio-statistics-index {
  font-size: 45px;
  font-weight: 700;
 /* line-height: 10.06px; */
  color: #000000;
  text-align: left;
}

.studio-statistics-item sup {
  /*font-weight: 500;*/
  font-size: 55%;
  top: -0.7em;
}

.studio-projects-list li {
  position: relative;
  line-height: 0;
}

.studio-projects-list li::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -21px;
  width: 2px;
  height: 52px;
  margin-top: -26px;
  background-color: #eeeeee;
}

.studio-projects-list li:first-child::before {
  display: none;
}

.studio-project-item {
  text-decoration: none;
  opacity: 0.2;
}

.studio-project-item:hover,
.studio-project-item:focus {
  opacity: 1.0;
}

.studio-project-item:active {
  opacity: 0.1;
}

/* футер */

/* контакты */

.footer-map-wrapper {
  position: relative;

  color: #666666;

  background-image: url("../img/map.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.footer-contacts {
}

.contact-address {
  background-color: #ffffff;
  z-index: 2;
}

.contact-address p {
  line-height: 18px;
}

.contact-address .contact-studio-name {
  margin: 0 0 22px;

  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}

.contact-address .button {
  margin-top: 23px;
  width: 100%;
  pointer-events: all;
}

.contact-map h3 {
  margin-top: 90px;
  margin-left: 360px;
}

.interactive-frame {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.interactive-map {
  width: 100%;
  height: 100%;

  border: none;
}

/* соцсети */

.footer-social-buttons {
  list-style: none;
}

.social-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 79px;
  height: 79px;

  color: #ffffff;
  text-decoration: none;

  background-color: #e1e1e1;
  border-radius: 50%;
}

.social-button:hover,
.social-button:focus {
  background-color: #e74246;
}

.social-button:active {
  color: rgba(255,255,255,0.3);

  background-color: #d7373b;
  -webkit-box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
          box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
}

.social-button:active path {
  fill: rgba(255,255,255,0.3);
}

.social-slogan {
  margin: 13px 0 15px;

  font-size: 36px;
  font-weight: 700;
  color: #000000;
}


/* Всплывающие формы */

@-webkit-keyframes modal-bounce {
  0% {
    -webkit-transform: translateX(2000px);
            transform: translateX(2000px);
  }

  70% {
    -webkit-transform: translateX(-30px);
            transform: translateX(-30px);
  }

  90% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }

  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes modal-bounce {
  0% {
    -webkit-transform: translateX(2000px);
            transform: translateX(2000px);
  }

  70% {
    -webkit-transform: translateX(-30px);
            transform: translateX(-30px);
  }

  90% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }

  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes modal-shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}

@keyframes modal-shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}

.modal {
  display: none;

  position: fixed;

  color: #000000;

  background-color: #ffffff;
}

.modal-show {
  display: block;

  -webkit-animation: modal-bounce 0.6s;

          animation: modal-bounce 0.6s;
}

.modal-error {
  -webkit-animation: modal-shake 0.6s;
          animation: modal-shake 0.6s;
}

/* "напишите нам" */

.modal-contact {
  top: 120px;
  left: 50%;
  width: 760px;
  min-height: 440px;
  padding: 67px 100px 84px;
  margin-left: -480px;
  z-index: 100;
  color: #000000;
  line-height: 18px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 20px 40px rgba(0,1,1,0.75);
  box-shadow: 0px 20px 40px rgba(0,1,1,0.75);
  -webkit-box-shadow: 0 20px 40px rgba(0, 1, 1, 0.75);
          box-shadow: 0 20px 40px rgba(0, 1, 1, 0.75);
}

.modal-contact h2 {
  font-size: 45px;
  font-weight: 500;
  line-height: 45px;
  margin: 0;
  margin-bottom: 41px;
}

.contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact-form p {
  margin: 0;
  margin-bottom: 34px;
}

.user-name,
.user-email  {
  width: 360px;
}

.user-message {
  min-width: 720px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.contact-item label {
  font-weight: 700;
}

.contact-item input {
  min-width: 330px;
  height: 46px;
  margin-top: 9px;
  padding: 0 13px;
}

.contact-item textarea {
  width: calc(100% - 30px);
  /* flex-grow: 1; */
  min-height: 88px;
  margin-top: 9px;
  padding: 13px;
  resize: vertical;
}

.contact-item input,
.contact-item textarea {
  font: inherit;
  background-color: #ffffff;
  border: 2px solid #d7dbdd;
  border-radius: 3px;
}

.contact-item input::-webkit-input-placeholder,
.contact-item textarea::-webkit-input-placeholder {
  color: #444444;
  font: inherit;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  opacity: 0.5;
}

.contact-item input:-ms-input-placeholder,
.contact-item textarea:-ms-input-placeholder {
  color: #444444;
  font: inherit;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  opacity: 0.5;
}

.contact-item input::-ms-input-placeholder,
.contact-item textarea::-ms-input-placeholder {
  color: #444444;
  font: inherit;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  opacity: 0.5;
}

.contact-item input::placeholder,
.contact-item textarea::placeholder {
  color: #444444;
  font: inherit;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  opacity: 0.5;
}

.contact-item input:hover,
.contact-item textarea:hover {
  border-color: #b3b8bb;
}

.contact-item input:focus,
.contact-item textarea:focus {
  border-color: #000000;
  outline: none;
}

.contact-item input:invalid,
.modal-error .field-empty,
.modal-error textarea:empty {
  border-color: #e74145;
}

.modal-contact-send {
  min-width: 260px;
  margin-top: 9px;
  font: inherit;
}

.modal-close {
  position: absolute;
  top: 78px;
  right: 90px;
  width: 21px;
  height: 21px;
  z-index: 100;
  font-size: 0;
  background-image: url("../img/close-cross.svg");
  background-repeat: no-repeat;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  opacity: 0.3;
}

.modal-close:hover,
.modal-close:focus {
  opacity: 1;
}

.modal-close:active {
  opacity: 0.1;
}

/* карта (модальная) */

.modal-map {
  top: 10px;
  left: 50%;
  width: 1200px;
  min-height: 440px;
  padding: 10px;
  margin-left: -610px;
  color: #000000;
  line-height: 18px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 20px 40px rgba(0,1,1,0.75);
  box-shadow: 0px 20px 40px rgba(0,1,1,0.75);
  -webkit-box-shadow: 0 20px 40px rgba(0, 1, 1, 0.75);
          box-shadow: 0 20px 40px rgba(0, 1, 1, 0.75);
}

.map-interactive {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 2;

  border: none;
}

.map-static {
  position: relative;
  z-index: 1;

  margin: 0;
}

/* Каталог catalog.html */

.page-title {
  color: #000000;
  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
  text-align: center;
}

.filter-options-set {
  margin-bottom: 55px;
}

.filters ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.filter fieldset {
  margin: 0;
  padding: 0;

  border: none;
}

.filter legend {
  margin-bottom: 15px;

  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}

.filter-option label {
  color: #283136;
  line-height: 20px;
}

.filter-option label:hover,
.filter-option label:focus {
  color: #000000;
}

.filter-option input[disabled] ~ label {
  color: rgba(40, 49, 54, 0.3);
}

/* фильтр цены  */

.price-select legend {
  letter-spacing: 0.05px;
}

/* слайдер цены */

.filter-price-slider {
  position: relative;
  width: 100%;
  margin: 33px 0 15px;
  min-height: 80px;

  background-color: #eeeeee;

  border-radius: 3px;
}

.price-scale::before {
  content: "";
  position: absolute;
  top:  50%;
  left:  30px;
  height: 2px;
  width: 209px;
  margin-top: -1px;
  background: #d7dcde;
}

.price-range::before {
  content: "";
  position: absolute;
  top:  50%;
  left: 30px;
  height: 2px;
  width: 150px;
  margin-top: -1px;
  background: #00ca74;
}

.lower-price::before,
.higher-price::before {
  content: "";
  position: absolute;
  top:  50%;
  left: 18px;
  height: 23px;
  width: 20px;
  margin-top: -10px;

  background-image: url("../img/filter-button.svg");
  background-repeat: no-repeat;

  cursor: pointer;
}

.higher-price::before {
  left: 160px;
}

.filter-price-input {
    display:  -webkit-box;
    display:  -ms-flexbox;
    display:  flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin:  0;
    padding: 0;
}

.filter-option-price {
    display:  -webkit-box;
    display:  -ms-flexbox;
    display:  flex;
    -ms-flex-wrap:  wrap;
        flex-wrap:  wrap;
    margin:  0;
    padding: 0px 0;
}

.filter-option-price label {
  text-transform: uppercase;
}

.filter-input-price {
    margin-left: 11px;
    width: 65px;
    padding: 8px 0px 8px 13px;
    font:  inherit;
    text-align: center;
    border-style: none;
    border-radius: 3px;
    background-color: #eeeeee;
}

/* фильтр сеток */

.grid-select {
  margin-bottom: 26px;
}

.grid-select .filter-option,
.misc-options-select .filter-option {
  position: relative;
  padding-left: 36px;
  margin-bottom: 16px;
}

.grid-select input ~ label::before,
.misc-options-select input ~ label::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 36px;
  height: 25px;
  background-image: url("../img/radio-off.svg");
  background-repeat: no-repeat;
  opacity: 0.4;
}

.grid-select input:checked ~ label::before {
  background-image: url("../img/radio-on.svg")
}

.grid-select input[disabled] ~ label::before,
.misc-options-select input[disabled] ~ label::before {
  opacity: 0.1;
}

.misc-options-select {
  margin-bottom: 26px;
}

.misc-options-select input ~ label::before {
  background-image: url("../img/checkbox-off.svg")
}

.misc-options-select input:checked ~ label::before {
  background-image: url("../img/checkbox-on.svg")
}

.grid-select input:not([disabled]) ~ label:hover::before,
.misc-options-select input:not([disabled]) ~ label:hover::before,
.grid-select input:focus ~ label::before,
.misc-options-select input:focus ~ label::before {
  opacity: 1;
}

.filter-button {
  width: 100%;
  margin-top: 4px;
  padding: 13px;

  color: #000000;
  font: inherit;
  font-weight: 500;

  background-color: #ededed;
}

.filter-button:hover,
.filter-button:focus {
  background-color: #dfdfdf;
}

.filter-button:active {
  color: rgba(0,0,0,0.3);

  background-color: #D5D5D5;
  -webkit-box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
          box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
}

/* сортировка */

.sort h3 {
  color: #000000;
  font-weight: 700;
  line-height: 18px;
  text-transform: uppercase;
}

.sort ul {
  list-style: none;
}

.sort-list-item {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.sort-list-item a,
.sort-order-item a {
  color: rgba(0,0,0,0.3);
  text-decoration: none;
}



.sort-list-item a:hover,
.sort-list-item a:focus,
.sort-order-item a:hover,
.sort-order-item a:focus {
  color: rgba(0,0,0,0.6);
}

.sort-list-item a:active,
.sort-order-item a:active,
a.sort-list-active,
a.sort-order-active {
  color: #000000;
}

.sort-order-item a {
  position: relative;
}

.sort-desc::before {
  content: "";
  position: absolute;
  top: 3px;
  left: 0px;
  width: 11px;
  height: 10px;
  /*
  border: 5px solid transparent;
  border-top: 10px solid red;
*/
  background-image: url("../img/icon-down-dir.svg");
  background-repeat: no-repeat;
  opacity: 0.2;
}

.sort-asc::before {
  content: "";
  position: absolute;
  top: 3px;
  left: 29px;
  width: 11px;
  height: 10px;
  /*
  border: 5px solid transparent;
  border-bottom: 10px solid red;
*/
  background-image: url("../img/icon-up-dir.svg");
  background-repeat: no-repeat;
  opacity: 0.2;
}

.sort-desc:hover::before,
.sort-asc:hover::before,
.sort-desc:focus::before,
.sort-asc:focus::before {
  opacity: 0.6;
}

.sort-desc:active::before,
.sort-asc:active::before,
.sort-order-active::before {
  opacity: 1.0;
}

.catalog-list {
  list-style: none;
}

.catalog-item-description {
  /*display: none;*/
  z-index: -1;

  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 240px;
  max-height: 536px;
  padding: 43px 60px;

  color: #666666;
  text-align: center;

  background-color: #eeeeee;
}

.catalog-item-description h3 {
  margin: 0 0 15px;
}

.catalog-item-header {
  color: #000000;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  text-decoration: none;
  overflow: scroll;
}

.catalog-item-description p {
  margin: 0;
  line-height: 18px;
}

.button-order {
    margin-top: 30px;
    padding-left: 10px;
    padding-right: 10px;
    width: 180px;
}

.pagination-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;
}

.pagination-item {
  margin-right: 11px;
  min-height: 50px;
  min-width: 50px;
  padding: 0;

  font-weight: 500;
  line-height: 18px;
  text-align: center;
}

.pagination-item a {
  display: block;
  padding: 16px;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;

  background-color: #EDEDED;
  border-radius: 3px;
}

.pagination-item a:hover,
.pagination-item a:focus {
  background-color: #dfdfdf;
}

.pagination-item a:active {
  color: rgba(0,0,0,0.3);
  background-color: #D5D5D5;
  -webkit-box-shadow: inset 0 3px 0 0 rgba(0, 0, 0, 0.1);
          box-shadow: inset 0 3px 0 0 rgba(0, 0, 0, 0.1);
}

.pagination-item .current-page {
  padding: 13px;

  background-color: transparent;

  border: 3px solid #DBDBDB;

  pointer-events: none;
}

.pagination-item .current-page:hover,
.pagination-item .current-page:focus,
.pagination-item .current-page:active {
  background-color: inherit;
}

.pagination-item .next-page {
  min-width: 228px;
}

/* ----- Сеточные стили ----- */

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}

.main-header {
  padding: 0;
  padding-top: 49px;
  margin: 0;
  margin-bottom: 80px;
  background-color: #eeeeee;
}

.main-navigation-wrapper {
  width: 100%;
  margin-bottom: 18px;
}

.main-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-header-logo {
  width: 160px;
  height: 65px;
}

.site-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  padding: 0;
  width: 440px;

  list-style: none;
}

.user-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 0;
  padding: 0;
  width: 160px;

  list-style: none;
}

.site-navigation li,
.user-navigation li {
  padding-top: 26px;
}


.basket-link {
  text-align: right;
}

.advantages {
  margin: 0;
  padding: 0;
  margin-bottom: 80px;
}

.advantages-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  padding: 0;
  padding-right: 60px;

  list-style: none;
}

.advantage-item {
  margin: 0;
  padding: 0;
  margin-right: 0px;
  width: 300px;
}

.studio {
  margin: 0;
  padding: 0;
  padding-top: 40px;

  border-top: 2px solid #eeeeee;
}

.studio-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  margin-bottom: 42px;
  padding: 0;
  width: 100%;
}

.studio-about {
  margin: 0;
  padding: 0;
  width: 680px;
}

.studio-statistics {
  margin: 0;
  padding: 0;
  width: 360px;

}

.studio-statistics-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  padding: 0;

  list-style: none;
}

.studio-statistics-item {
  width: 120px;
}

.studio-projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 0;
  padding: 0;

  border-top: 2px solid #eeeeee;
  border-bottom: 2px solid #eeeeee;
}

.studio-projects-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
  width: 100%;

  list-style: none;
}

.studio-project-item {
  margin: 0;
  padding: 0;
  width: 260px;
}

.main-footer {
  margin-top: 80px;
}

.footer-map-wrapper {
  width: 100%;
}

.footer-map-wrapper .container {
  pointer-events: none;
}

.footer-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
}

.contact-address {
  margin: 54px 0;
  padding: 50px;
  width: 220px;
}

.contact-map {
  /*margin: 89px auto auto 261px;
  width: 231px;*/
  pointer-events: none;
}

.footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
}

.footer-social-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 260px;
  margin: 68px 0;
  padding: 0;
}

.footer-slogan {
  margin: 68px 0;
  padding: 0;
  padding-left: 140px;
}

/* каталог  */

.inner-page {
}

.inner-page .main-navigation-wrapper {
  margin-bottom: 78px;
}

.inner-page .main-header {
  margin-bottom: 55px;
}

.page-title {
  margin: 0;
  padding: 0;
  padding-bottom: 108px;
}

.catalog-columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.filters {
  width: 260px;
}

.catalog-column-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sort {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 5px;
  margin-bottom: 60px;
}

.sort h3 {
  width: 400px;
  margin: 0;
  padding: 0;
}

.sort-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 270px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  padding: 0;
}

.sort-order {
  width: 41px;
  margin: 0;
  margin-left: auto;
}

.catalog {
  width: 760px;
  padding-top: 20px;
}

.catalog-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  margin-bottom: 3px;
  padding: 0;

  list-style: none;
}

.catalog-item {
  position: relative;
  width: 360px;
  margin: 15px 40px 58px 0;
  /* border: 1px solid rgba(77, 77, 77, 0.1); */
  /* margin-right: 40px; */
  /* margin-bottom: 33px; */
  /* padding-top: 20px; */
}

.catalog-item-image {
  margin: 0;
  padding: 0;
  line-height: 0;
  /* border: 1px solid rgba(0, 1, 1, 0.1); */
}

.catalog-item-image img {
  /* border: 1px solid rgba(0, 1, 1, 0.1); */
  /* box-sizing: border-box; */
}

.catalog-item::before {
  content: "";
  width: 360px;
  height: 40px;
  position: absolute;
  top: -40px;
  left: 0px;
  background-image: url(../img/browser.svg);
  background-repeat: no-repeat;
  opacity: 0.12;
}

.catalog-item:hover::before {
  opacity: 1;
}

.catalog-item:hover .catalog-item-description {
  /*display: block;*/
  z-index: 0;
}

.catalog-item:hover {
  -webkit-box-shadow: 0 6px 15px rgba(0, 1, 1, 0.25);
          box-shadow: 0 6px 15px rgba(0, 1, 1, 0.25);
}

.catalog-item:nth-child(2n) {
  margin-right: 0;
}

.inner-page .main-footer {
  margin-top: 60px;
}
