body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", Verdana, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #283136;
  /*text-transform: none;*/

  background-color: #ffffff;
}

a {

}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.button {
  display: inline-block;
  padding: 16px 0;
  margin-top: 32px;

  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;

  background-color: #fb5559;
  border: none;
  border-radius: 4px;

  cursor: pointer;
}

.button:hover,
.button:focus {
  background-color: #e74246;
}

.button:active {
  color: rgba(255,255,255,0.3);

  background-color: #d7363a;
  box-shadow: inset 0 3px 0 0 rgba(0, 0, 0, 0.1);
}

.main-header {
  background-color: #eeeeee;
}

.main-navigation {
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  color: #000000;
  text-transform: uppercase;

  background-color: #eeeeee;
}

.main-header-logo[href]:hover,
.main-header-logo[href]:focus {
  opacity: 0.8;
}

.main-header-logo[href]:active {
  opacity: 0.3;
}

.site-navigation,
.user-navigation {
  list-style: none;
}

.site-navigation a,
.user-navigation a {
  color: #000000;
  text-decoration: none;
}
/*
.site-navigation a::after,
.user-navigation a::after {
  display: block;
  position: relative;
  left: 50%;
  top: 5px;
  width: 0;
  height: 2px;
  content: '';
  background-color: #fb565a;
  transition: all 0.3s ease 0s;
}*/

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
  color: #fb565a;
}

.site-navigation a:active,
.user-navigation a:active {
  color: rgba(0,0,0,0.3);
}

.site-navigation a:not([href])::after,
.user-navigation a:not([href])::after {
  display: block;
  position: relative;
  left: 0;
  top: 3px;
  width: 100%;
  height: 2px;
  content: '';
  background-color: #fb565a;
}
/*
.site-navigation a:hover::after,
.user-navigation a:hover::after {
  left: 0;
  width: 100%;
}*/

.user-navigation .basket-link {
  position: relative;
  padding-left: 40px;
}

.basket-link::before {
  content: "";

  position: absolute;
  top: 2px;
  left: 0px;

  width: 15px;
  height: 15px;

  background-image: url("../img/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.slider {
  position: relative;

  background-color: #eeeeee;
}

.slider-controls {
  position: absolute;
  left: 50%;
  bottom: 104px;
  z-index: 100;

  width: 160px;
  height: 18px;

  text-align: center;
  font-size: 0;
  transform: translateX(-50%);
}

.slider-controls label {
  position: relative;

  display: inline-block;
  width: 18px;
  height: 18px;
  padding: 8px;

  border-radius: 50%;
  cursor: pointer;
}

.slider-controls label::after {
  content: "";

  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1;

  width: 18px;
  height: 18px;

  background: #ffffff;

  border-radius: 50%;
}

.slider-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.slider-item {
  display: none;

  padding: 36px 0 80px 0;

  color: #000000;
}

.slider-item:nth-child(1) {
  /*display: block;*/
}

.slider-item:nth-child(1) {
  background-image: url("../img/slider-1.png");
  background-repeat: no-repeat;
  background-position: 100% -17px;
}

.slider-item:nth-child(2) {
  background-image: url("../img/slider-2.png");
  background-repeat: no-repeat;
  background-position: 100% 0;
}

.slider-item:nth-child(3) {
  background-image: url("../img/slider-3.png");
  background-repeat: no-repeat;
  background-position: 100% 20px;
}

#slider-1:checked ~ .slider-list .slider-item:nth-child(1) {
  display: block;
}

#slider-2:checked ~ .slider-list .slider-item:nth-child(2) {
  display: block;
}

#slider-3:checked ~ .slider-list .slider-item:nth-child(3) {
  display: block;
}

#slider-1:checked ~ .slider-controls .slider-controls-item--1::before,
#slider-2:checked ~ .slider-controls .slider-controls-item--2::before,
#slider-3:checked ~ .slider-controls .slider-controls-item--3::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  width: 4px;
  height: 4px;
  margin: -4px;
  background-color: inherit;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}

.slider-item h3 {
  max-width: 600px;
  margin: 0;
  margin-bottom: 27px;

  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
}

.slider-item p {
  max-width: 430px;
  margin: 0;
  margin-bottom: 38px;
}

.slider-item .button {
  width: 240px;
  margin-top: 0;
}

.advantages-list {
  list-style: none;
}

.advantage-item h3 {
  font-size: 24px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;

  margin: 18px 0 17px;
}

.advantage-item p {
  line-height: 24px;
  color: #283136;

  margin: 0 20px 0 0;
}

.advantage-item .button {
  width: 160px;
}


.advantage-item:nth-child(2) .button {
  background-color: #00c973;
}

.advantage-item:nth-child(2) .button:hover,
.advantage-item:nth-child(2) .button:focus {
  background-color: #00bc6b;
}

.advantage-item:nth-child(2) .button:active {
  background-color: #00aa61;
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
}

.advantage-item:nth-child(3) .button {
  background-color: #efc749;
}

.advantage-item:nth-child(3) .button:hover,
.advantage-item:nth-child(3) .button:focus {
  background-color: #eab434;
}

.advantage-item:nth-child(3) .button:active {
  background-color: #e5a722;
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
}

.studio-about-title {
  font-size: 45px;
  font-weight: 500;
  line-height: 45px;
  color: #000000;

  margin: 34px 10px 32px 0;
}

.studio-service-title {
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;

  margin: 40px 0 25px;
}

.studio-services {
  list-style: none;
  color: #283136;

  margin: 0px;
  padding-left: 35px;
}

.studio-service-item {
  margin-bottom: 24px;

}

.studio-statistics-title {
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;

  margin: 30px 0 53px;
}

.studio-statistics-list {
  list-style: none;
}

.studio-statistics-item p {
  line-height: 18px;
  margin: 0 0 33px;
}

.studio-statistics-index {
  font-size: 45px;
  font-weight: 700;
 /* line-height: 10.06px; */
  color: #000000;
  text-align: left;
}

.studio-statistics-item sup {
  /*font-weight: 500;*/
  font-size: 55%;
  top: -0.7em;
}

.studio-projects-list {
  list-style: none;
}

.studio-projects-list li {
  line-height: 0;
}

.studio-project-item {
  text-decoration: none;
  opacity: 0.2;
}

.studio-project-item:hover,
.studio-project-item:focus {
  opacity: 1.0;
}

.studio-project-item:active {
  opacity: 0.1;
}

/* футер */
/* контакты */

.footer-map-wrapper {
  color: #666666;

  background-image: url("../img/map.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.footer-contacts {

}

.contact-address {
  background-color: #ffffff;
}

.contact-address p {
  line-height: 18px;
}

.contact-studio-name {
  margin: 6px 0 30px;

  font-weight: 700;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}

.contact-address .button {
  margin-top: 21px;
  width: 100%;
}

.contact-map h3 {
  margin-top: 90px;
  margin-left: 360px;
}

/* соцсети */

.footer-social-buttons {
  list-style: none;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 79px;
  height: 79px;

  color: #ffffff;
  text-decoration: none;

  background-color: #e1e1e1;
  border-radius: 50%;
}

.social-button:hover,
.social-button:focus {
  background-color: #e74246;
}

.social-button:active {
  color: rgba(255,255,255,0.3);

  background-color: #d7373b;
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
}

.social-button:active path {
  fill: rgba(255,255,255,0.3);
}

.social-slogan {
  margin: 13px 0 15px;

  font-size: 36px;
  font-weight: 700;
  color: #000000;
}

/* модальные окна */

.modal {
  /* временно для отладки */
  display: none;
}

/* "напишите нам" */

.modal-contact {
  color: #000000;
  line-height: 18px;

  background-color: #ffffff;
  box-shadow: 0px 20px 40px rgba(0,1,1,0.75);
}

.modal-contact h2 {
  font-size: 45px;
  font-weight: 500;
  line-height: 45px;
}

.contact-item label {
  font-weight: 700;
}

.contact-item input,
.contact-item textarea {
  font: inherit;

  background-color: #ffffff;
  border: 2px solid #d7dbdd;
}

.contact-item input::placeholder,
.contact-item textarea::placeholder {
  color: #444444;
  font: inherit;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  opacity: 0.5;
}

.contact-item input:hover,
.contact-item textarea:hover {
  border-color: #b3b8bb;
}

.contact-item input:focus,
.contact-item textarea:focus {
  border-color: #000000;
  outline: none;
}

.contact-item input:invalid {
  border-color: #e74145;
}

.modal-contact .button {
  font: inherit;
}

/* Каталог catalog.html */

.page-title {
  color: #000000;
  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
  text-align: center;
}

.filter-options-set {
  margin-bottom: 55px;
}

.filters ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.filter fieldset {
  margin: 0;
  padding: 0;

  border: none;
}

.filter legend {
  margin-bottom: 15px;

  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}

.filter-option label {
  color: #283136;
  line-height: 20px;
}

.filter-option label:hover,
.filter-option label:focus {
  color: #000000;
}

.filter-option input[disabled] ~ label {
  color: rgba(40, 49, 54, 0.3);
}

/* фильтр цены  */

.filter-price-input {
    display:  flex;
    justify-content: space-between;
    margin:  0;
    padding: 0;
}

.filter-option-price {
    display:  flex;
    flex-wrap:  wrap;
    margin:  0;
    padding: 0px 0;
}

.filter-option-price label {
  text-transform: uppercase;
}

.filter-input-number {
    margin-left: 11px;
    width: 65px;
    padding: 8px 0px 8px 13px;
    font:  inherit;
    text-align: center;
    border-style: none;
    border-radius: 3px;
    background-color: grey;
}

/* фильтр сеток */

.grid-select {
  margin-bottom: 26px;
}

.grid-select .filter-option,
.misc-options-select .filter-option {
  margin-left: 36px;
  margin-bottom: 16px;
}

.misc-options-select {
  margin-bottom: 26px;
}


.filter-button {
  width: 100%;
  margin-top: 4px;
  padding: 13px;

  color: #000000;
  font: inherit;
  font-weight: 500;

  background-color: #ededed;
}

.filter-button:hover,
.filter-button:focus {
  background-color: #dfdfdf;
}

.filter-button:active {
  color: rgba(0,0,0,0.3);

  background-color: #D5D5D5;
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
}

.sort h3 {
  color: #000000;
  font-weight: 700;
  line-height: 18px;
  text-transform: uppercase;
}

.sort ul {
  list-style: none;
}

.sort-list-item {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.sort-list-item a,
.sort-order-item a {
  color: rgba(0,0,0,0.3);
  text-decoration: none;
}

.sort-list-item a:hover,
.sort-list-item a:focus,
.sort-order-item a:hover,
.sort-order-item a:focus {
  color: rgba(0,0,0,0.6);
}

.sort-list-item a:active,
.sort-order-item a:active,
a.sort-list-active,
a.sort-order-active {
  color: #000000;
}

.catalog-list {
  list-style: none;
}

.catalog-item-description {
  display: none;

  position: absolute;
  bottom: 26px;
  left: 0;
  width: 240px;
  min-height: 231;
  max-height: 536px;
  padding: 40px 60px;

  color: #666666;
  text-align: center;

  background-color: #eeeeee;
}

.catalog-item-description h3 {
  margin: 10px;
}

.catalog-item-header {
  color: #000000;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  text-decoration: none;
}

.catalog-item-description p {
  margin: 0;
  line-height: 18px;
}

.button-order {
    margin-top: 30px;
    padding-left: 10px;
    padding-right: 10px;
    width: 180px;
}

.pagination-list {
  list-style: none;
}

.pagination-item {
  font-weight: 500;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
}

.pagination-item-current {
  background-color: transparent;

  border-width: 3px;
  border-color: #DBDBDB;
}

.pagination-item a {
  color: #000000;
  text-decoration: none;

  background-color: #EDEDED;
}

.pagination-item a:hover,
.pagination-item a:focus {
  background-color: #dfdfdf;
}

.pagination-item a:active {
  color: rgba(0,0,0,0.3);
  background-color: #D5D5D5;
  box-shadow: inset 0 3px 0 0 rgba(0, 0, 0, 0.1);
}

/* ----- Сеточные стили ----- */

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}

.main-header {
  padding: 0;
  padding-top: 49px;
  margin: 0;
  margin-bottom: 80px;
  background-color: #eeeeee;
}

.main-navigation-wrapper {
  width: 100%;
  margin-bottom: 18px;
}

.main-navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.main-header-logo {
  width: 160px;
  height: 65px;
}

.site-navigation {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  width: 440px;

  list-style: none;
}

.user-navigation {
  display: flex;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
  width: 160px;

  list-style: none;
}

.site-navigation li,
.user-navigation li {
  padding-top: 26px;
}


.basket-link {
  text-align: right;
}

.advantages {
  margin: 0;
  padding: 0;
  margin-bottom: 80px;
}

.advantages-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  padding-right: 60px;

  list-style: none;
}

.advantage-item {
  margin: 0;
  padding: 0;
  margin-right: 0px;
  width: 300px;
}

.studio {
  margin: 0;
  padding: 0;
  padding-top: 40px;

  border-top: 2px solid #eeeeee;
}

.studio-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 42px;
  padding: 0;
  width: 100%;
}

.studio-about {
  margin: 0;
  padding: 0;
  width: 680px;
}

.studio-statistics {
  margin: 0;
  padding: 0;
  width: 360px;

}

.studio-statistics-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  list-style: none;
}

.studio-statistics-item {
  width: 120px;
}

.studio-projects {
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;

  border-top: 2px solid #eeeeee;
  border-bottom: 2px solid #eeeeee;
}

.studio-projects-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 100%;

  list-style: none;
}

.studio-project-item {
  margin: 0;
  padding: 0;
  width: 260px;
}

.main-footer {
  margin-top: 80px;
}

.footer-map-wrapper {
  width: 100%;
}

.footer-contacts {
  display: flex;
  margin: 0;
}

.contact-address {
  margin: 54px 0;
  padding: 50px;
  width: 220px;
}

.contact-map {
  /*margin: 89px auto auto 261px;
  width: 231px;*/
}

.footer-social {
  display: flex;
  margin: 0;
  padding: 0;
}

.footer-social-buttons {
  display: flex;
  justify-content: space-between;
  width: 260px;
  margin: 68px 0;
  padding: 0;
}

.footer-slogan {
  margin: 68px 0;
  padding: 0;
  padding-left: 140px;
}

/* каталог  */

.inner-page {
}

.inner-page .main-navigation-wrapper {
  margin-bottom: 78px;
}

.inner-page .main-header {
  margin-bottom: 55px;
}

.page-title {
  margin: 0;
  padding: 0;
  padding-bottom: 108px;
}

.catalog-columns {
  display: flex;
  justify-content: space-between;
}

.filters {
  width: 260px;
}

.filter-price-slider {
  width: 100%;
  margin: 33px 0 15px;
  min-height: 80px;

  background-color: grey;

  border-radius: 3px;
}


.catalog-column-right {
  display: flex;
  flex-direction: column;
}

.sort {
  display: flex;
  padding-top: 5px;
  margin-bottom: 39px;
}

.sort h3 {
  width: 400px;
  margin: 0;
  padding: 0;
}

.sort-list {
  display: flex;
  width: 270px;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.sort-order {
/*  display: flex; */
  width: 40px;
  margin: 0;
  margin-left: auto;
}

.catalog {
  width: 760px;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-bottom: 30px;
  padding: 0;

  list-style: none;
}

.catalog-item {
  position: relative;
  width: 360px;
  margin-right: 40px;
  margin-bottom: 33px;
  padding-top: 40px;
}

.catalog-item::before {
  content: "";
  width: 360px;
  height: 40px;
  position: absolute;
  top: 15px;
  left: 0;
  background-image: url(../img/browser.svg);
  background-repeat: no-repeat;
  opacity: 0.12;
}

.catalog-item:hover::before {
  opacity: 1;
}

.catalog-item:hover .catalog-item-description {
  display: block;
}

.catalog-item:nth-child(2n) {
  margin-right: 0;
}

.pagination-list {
  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;
}

.pagination-item {
  padding-right: 11px;
}

.inner-page .main-footer {
  margin-top: 60px;
}
