body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", Verdana, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #283136;
  /*text-transform: none;*/

  background-color: #ffffff;
}

a {

}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.button {
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;

  background-color: #fb5559;
  border: none;

  cursor: pointer;
}

.button:hover,
.button:focus {
  background-color: #e74246;
}

.button:active {
  color: rgba(255,255,255,0.3);

  background-color: #d7363a;
  box-shadow: inset 0 3px 0 0 rgba(0, 0, 0, 0.1);
}

.main-header {
  background-color: #eeeeee;
}

.main-navigation {
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  color: #000000;
  text-transform: uppercase;

  background-color: #eeeeee;
}

.main-header-logo[href]:hover,
.main-header-logo[href]:focus {
  opacity: 0.8;
}

.main-header-logo[href]:active {
  opacity: 0.3;
}

.site-navigation,
.user-navigation {
  list-style: none;
}

.site-navigation a,
.user-navigation a {
  color: #000000;
  text-decoration: none;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
  color: #fb565a;
}

.site-navigation a:active,
.user-navigation a:active {
  color: rgba(0,0,0,0.3);
}



.keystones-list {
  list-style: none;
}

.keystone-item {
  text-align: left;
}

.keystone-item p {
  color: #000000;
}

.keystone-item-title {
  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
}

.advantages-list {
  list-style: none;
}

.advantage-item h3 {
  font-size: 24px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}

.advantage-item p {
  line-height:
  color: #283136;
}

.advantage-item:nth-child(2) .button {
  background-color: #00c973;
}

.advantage-item:nth-child(2) .button:hover,
.advantage-item:nth-child(2) .button:focus {
  background-color: #00bc6b;
}

.advantage-item:nth-child(2) .button:active {
  background-color: #00aa61;
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
}

.advantage-item:nth-child(3) .button {
  background-color: #efc749;
}

.advantage-item:nth-child(3) .button:hover,
.advantage-item:nth-child(3) .button:focus {
  background-color: #eab434;
}

.advantage-item:nth-child(3) .button:active {
  background-color: #e5a722;
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
}

.studio-about-title {
  font-size: 45px;
  font-weight: 500;
  line-height: 45px;
  color: #000000;
}

.studio-service-title {
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.studio-services {
  list-style: none;
  color: #283136;
}

.studio-statistics-title {
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.studio-statistics-list {
  list-style: none;
}

.studio-statistics-item p {
  line-height: 18px;
}

.studio-statistics-index {
  font-size: 45px;
  font-weight: 700;
  line-height: 10.06px;
  color: #000000;
  text-align: left;
}

.studio-statistics-item sup {
  /*font-weight: 500;*/
}

.studio-projects ul {
  list-style: none;
}

.studio-project-item {
  text-decoration: none;
  opacity: 0.2;
}

.studio-project-item:hover,
.studio-project-item:focus {
  opacity: 1.0;
}

.studio-project-item:active {
  opacity: 0.1;
}

/* футер */
/* контакты */

.footer-map-wrapper {
  color: #666666;

  background-image: url("../img/map.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.footer-contacts {

}

.contact-address {
  background-color: #ffffff;
}

.contact-address p {
  line-height: 18px;
}

.contact-studio-name {
  font-weight: 700;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}

/* соцсети */

.footer-social-buttons {
  list-style: none;
}

.social-button {
  color: #ffffff;
  text-decoration: none;

  background-color: #e1e1e1;
}

.social-button:hover,
.social-button:focus {
  background-color: #e74246;
}

.social-button:active {
  color: rgba(255,255,255,0.3);

  background-color: #d7373b;
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
}

.social-slogan {
  font-size: 36px;
  font-weight: 700;
  color: #000000;
}

/* модальные окна */

.modal {
  /* временно для отладки */
  display: none;
}

/* "напишите нам" */

.modal-contact {
  color: #000000;
  line-height: 18px;

  background-color: #ffffff;
  box-shadow: 0px 20px 40px rgba(0,1,1,0.75);
}

.modal-contact h2 {
  font-size: 45px;
  font-weight: 500;
  line-height: 45px;
}

.contact-item label {
  font-weight: 700;
}

.contact-item input,
.contact-item textarea {
  font: inherit;

  background-color: #ffffff;
  border: 2px solid #d7dbdd;
}

.contact-item input::placeholder,
.contact-item textarea::placeholder {
  color: #444444;
  font: inherit;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  opacity: 0.5;
}

.contact-item input:hover,
.contact-item textarea:hover {
  border-color: #b3b8bb;
}

.contact-item input:focus,
.contact-item textarea:focus {
  border-color: #000000;
  outline: none;
}

.contact-item input:invalid {
  border-color: #e74145;
}

.modal-contact .button {
  font: inherit;
}

/* Каталог catalog.html */

.page-title {
  color: #000000;
  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
  text-align: center;
}


.filters ul {
  list-style: none;
}

.filter fieldset {
  /* здесь как-то надо убрать рамку... */
}

.filter legend {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}

.filter-option label {
  color: #283136;
  line-height: 20px;
}

.price label {
  text-transform: uppercase;
}

.filter-option label:hover,
.filter-option label:focus {
  color: #000000;
}

.filter-option input[disabled] ~ label {
  color: rgba(40, 49, 54, 0.3);
}

.filter-button {
  color: #000000;
  font: inherit;
  font-weight: 500;

  background-color: #ededed;
}

.filter-button:hover,
.filter-button:focus {
  background-color: #dfdfdf;
}

.filter-button:active {
  color: rgba(0,0,0,0.3);

  background-color: #D5D5D5;
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
}

.sort h3 {
  color: #000000;
  font-weight: 700;
  line-height: 18px;
}

.sort ul {
  list-style: none;
}

.sort-list-item {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.sort-list-item a,
.sort-order-item a {
  color: rgba(0,0,0,0.3);
  text-decoration: none;
}

.sort-list-item a:hover,
.sort-list-item a:focus,
.sort-order-item a:hover,
.sort-order-item a:focus {
  color: rgba(0,0,0,0.6);
}

.sort-list-item a:active,
.sort-order-item a:active,
a.sort-list-active,
a.sort-order-active {
  color: #000000;
}

.catalog-list {
  list-style: none;
}

.catalog-item-description {
  color: #666666;
  text-align: center;

  background-color: #eeeeee;
}

.catalog-item-description h3 a {
  color: #000000;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  text-decoration: none;
}

.pagination-list {
  list-style: none;
}

.pagination-item {
  font-weight: 500;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
}

.pagination-item-current {
  background-color: transparent;

  border-width: 3px;
  border-color: #DBDBDB;
}

.pagination-item a {
  color: #000000;
  text-decoration: none;

  background-color: #EDEDED;
}

.pagination-item a:hover,
.pagination-item a:focus {
  background-color: #dfdfdf;
}

.pagination-item a:active {
  color: rgba(0,0,0,0.3);
  background-color: #D5D5D5;
  box-shadow: inset 0 3px 0 0 rgba(0, 0, 0, 0.1);
}

/* ----- Сеточные стили ----- */

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}

.main-header {
  padding: 0;
  padding-top: 49px;
  margin: 0;
  margin-bottom: 80px;
  background-color: #eeeeee;
}

.main-navigation-wrapper {
  width: 100%;
  margin-bottom: 18px;
}

.main-navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.main-header-logo {
  width: 160px;
  height: 65px;
}

.site-navigation {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  width: 440px;

  list-style: none;
}

.user-navigation {
  margin: 0;
  padding: 0;
  width: 160px;

  list-style: none;
}

.keystones {

}

.keystones-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.advantages {
  margin: 0;
  padding: 0;
  margin-bottom: 78px;

}

.advantages-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  padding-right: 60px;

  list-style: none;
}

.advantage-item {
  margin: 0;
  padding: 0;
  margin-right: 0px;
  width: 300px;
}

.studio {
  margin: 0;
  padding: 0;
  padding-top: 38px;

  border-top: 2px solid #eeeeee;
}

.studio-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 79px;
  padding: 0;
  width: 100%;
}

.studio-about {
  margin: 0;
  padding: 0;
  width: 680px;
}

.studio-statistics {
  margin: 0;
  padding: 0;
  width: 360px;

}

.studio-statistics-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  list-style: none;
}

.studio-statistics-item {
  width: 120px;
}

.studio-projects {
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;

  border-top: 2px solid #eeeeee;
  border-bottom: 2px solid #eeeeee;
}

.studio-projects-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 100%;

  list-style: none;
}

.studio-project-item {
  margin: 0;
  padding: 0;
  width: 260px;
}

.main-footer {
  margin-top: 80px;
}

.footer-map-wrapper {
  width: 100%;
}

.footer-contacts {
  display: flex;
  margin: 0;
}

.contact-address {
  margin: 54px 0;
  padding: 50px;
  width: 319px;
}

.contact-map {
  margin: 89px auto auto 261px;
  width: 231px;
}

.footer-social {
  display: flex;
  margin: 0;
  padding: 0;
}

.footer-social-buttons {
  display: flex;
  justify-content: space-between;
  width: 260px;
  margin: auto 0;
  padding: 0;
}

.footer-slogan {
  margin: auto 0;
  padding: 0;
  padding-left: 140px;
}

/* каталог  */

.inner-page {
}

.inner-page .main-header {
  margin-bottom: 60px;
}

.page-title {
  margin: 0;
  padding: 0;
  padding-bottom: 112px;
}

.catalog-columns {
  display: flex;
  justify-content: space-between;
}

.filters {
  width: 260px;
}

.catalog-column-right {
  display: flex;
  flex-direction: column;
}

.sort {
  display: flex;
  margin-bottom: 58px;
}

.sort h3 {
  margin: 0;
  padding: 0;
}

.sort-list {
  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;
}

.sort-order {
  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;
}

.catalog {
  width: 760px;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-bottom: 30px;
  padding: 0;

  list-style: none;
}

.catalog-item {
  width: 360px;
  margin-right: 40px;
  margin-bottom: 33px;
}

.catalog-item:nth-child(2n) {
  margin-right: 0;
}

.pagination-list {
  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;
}

.pagination-item {
  padding-right: 11px;
}

.inner-page .main-footer {
  margin-top: 60px;
}
